body {
  background-color: rgb(65, 73, 82);
  color: aliceblue;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;
}

.exercise-container{
  height: 100vh;
}


.btn-home:hover{
  background-color: rgba(213, 175, 216, 0.851);
}

.home-links{
  text-decoration: none;
  color: rgba(42, 41, 41, 0.647);
  font-weight: 800;
}