body {
  background-color: rgb(65, 73, 82);
  color: aliceblue;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;
}

.exercise-container{
  height: 100vh;
}